a:link {
        color: #800000;
        text-decoration: none;
      }
a:active, a:focus { outline: 0; }

body {
    font-family: 'Georgia', Times, serif;
    font-size: 12px;
    color: #000;
    background: #FFF;
    margin: 40px 0 20px 0;
    padding: 0;
  }

  a:active, a:focus { outline: 0; }
.center {
        text-align: center;
}
div.info {
  margin-top: 15px;
  border-top: 1px solid;
  font-size:13px;
  font-weight: bold;
  text-transform: uppercase;
}

div.hr {
  width: 100%;
  height: 10px;
  border-bottom: 1px solid black;
}
p.caption {
  font-size: 50%;
  fon
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

}

.portfolio {
  float:left;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.portfolio .unit {
   width: 475px;
   margin: 0 5px;
   float:left;
}

.portfolio .small-img {
  max-width: 475px;
  border: 2px solid black;
}

div.content {
  width: 970px;
  margin: 0 auto;
}

    .content #header {
      border-bottom: 1px solid #000;
    }

      .content #header #top {
        color: fff;
        background-color: #000;
        border-bottom: 1px solid #000;
        overflow: hidden;
        padding: 0 10px 5px 0;
        position: relative;
        text-align: right;

      }

        .content #header #top a.title {
          width: 688px;
          color: #ffffff;
          font-family: 'EB Garamond', serif;
          font-size: 72px;
          line-height: 1;
          font-weight: normal;
          text-decoration: none;
          margin: 0;
        }

        .content #header #bottom .buttons {
          width: 49%;
          text-align: right;
          bottom: 24px;
          right: 0;
          display: inline-block;
        }


        .content #header #bottom .buttons a {
          color: #FFFFFF;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          background: #D00000;
        }
        .content #header #bottom #desc {
          width: 50%;
          font-size: 12px;
          display: inline-block;
        }

      .content #header #bottom {
        font-size: 10px;
        padding: 8px 0;
      }

        .content #header #bottom a {
          color: #447777;
          font-weight: bold;
          text-decoration: none;
        }

    .content div.post {
      margin: 20px 0 50px 0;
      font-family: "Georgia", times;
      font-size: 16px;
      line-height: 1.5;}

    .content img {  border: 4px solid #000000; cursor: pointer; max-width: 950px; max-height: 700px; display: inline; }

    .content img.film { border: none;}

    .content .date {
      font-weight: bold;
      text-transform: uppercase;
    }

     .content h2 {
      font-family: "Arvo","Georgia";
      font-size: 26px;
      letter-spacing: -1px;
      margin: 0;
    }

     a.h2 {
        color: #000;
        font-family: "Arvo", Georgia;
        font-size: 36px;
        text-decoration: none;
        letter-spacing: -1px;
        line-height: 28px;
        margin: 0;
      }

      .content #newDay .quote {
        font-family: Georgia;
        font-size: 24px;
        line-height: 1.8;
      }

    .content #newDay .post img {border: 4px solid #000000;
                   cursor: pointer;
                  max-width: 950px;
                  max-height: 700px;
                  display: inline;
    }

    .content #newDay .post img .film {border: none;
                   cursor: pointer;
                  max-width: 950px;
                  max-height: 700px;
                  display: inline;
    }

    .content #newDay .post code {
      font-size: 12px;
      background: #D9E5ED;
      font-family: 'Lucida Console', monospace;
      padding: 1px 4px;
    }

    .content #newDay .post {
      font-family: Georgia;
      font-size: 14px;
      line-height: 1.8;
    }



        .content .post a:hover { color: #D00000; text-decoration: underline;}

    /* this is for chat */
    .content #newDay .post table {
      font-family: Georgia;
      font-size: 14px;
      margin: 0 0 10px 0;
      border-collapse: collapse;
    }

      .content #newDay .post table tr td {
        padding: 0;
        vertical-align: top;
      }

      .content #newDay .post table tr td.name {
        font-weight: bold;
        text-align: right;
        padding: 4px 15px;
      }

      .content #newDay .post table tr td.words {
        width: 100%;
        text-align: left;
        padding: 4px 1px;
      }
    /* that was for chat */

    .content #newDay .bottom {
      width: 100%;
      color: #444444;
      font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 10px;
      line-height: 1.8;
      text-transform: uppercase;
    }

      .content #newDay .bottom .notes,
      .content #newDay .bottom .tags {
        text-transform: none !important;
        margin: 0 13px 0 0;
        float: left;
      }

      .content #newDay .bottom a {
        color: #444444;
        text-transform: none;
        text-decoration: underline;
      }

        .content #newDay .bottom a.time {
          text-decoration: underline;
          font-weight: bold;
          text-transform: uppercase;
        }

        .content #newDay .bottom a:hover { text-decoration: underline; }

  .content #pagination {
    font-family: Georgia;
    font-size: 12px;
    text-align: right;
    border-top: 3px solid #202020;
    border-bottom: 1px solid #202020;
    padding: 8px 0;
    overflow: hidden;
  }

    .content #pagination a.button {
      color: #FFFFFF;
      font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      background: #D00000;
      margin-left: 12px;
    }

    .content #pagination .rss {
      font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 10px;
      float: left;
    }
      .content #pagination .rss a {
        color: #447777;
        font-weight: bold;
      }

    .content #footer {
      color: #8E8E8E;
      line-height: 1.5em;
      text-align: right;
      margin: 8px 0 0 0;
      overflow: hidden;
      width: 960px;
    }

      .content #footer form {
        margin: 0 auto 10px auto;
        float: left;
      }

        .content #footer form input.text {
          width: 250px;
        }

    .content #footer a {
      color: #8E8E8E;
    }

    ol.notes {
      width: 100%;
      border-bottom: solid 1px #ccc;
      padding: 48px 0 0 0px;
      margin: 8px 0px 0px 0px;
      list-style-type: none;
    }

      ol.notes a {
        color: #444444;
      }

      ol.notes li.note {
        color: #777;
        font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 10px;
        border-top: solid 1px #ccc;
        padding: 4px;
      }

        ol.notes li.note img.avatar {
          vertical-align: -4px;
          margin-right: 10px;
          width: 16px;
          height: 16px;
        }

        ol.notes li.note span.action {
          margin-bottom: 5px;
        }

          ol.notes li.note span.action a {
            font-weight: bold;
          }

        ol.notes li.note .answer_content {

        }

        ol.notes li.note blockquote {
          border-color: #eee;
          padding: 4px 10px;
          margin: 10px 0px 0px 25px;
        }

          ol.notes li.note blockquote a {
            text-decoration: none;
          }

        ol.notes li.note a:hover {
          text-decoration: underline;
        }

    ul#likes {
      border-bottom: 1px solid #202020;
      list-style-type: none;
      margin: 0 0 0 0;
      padding: 0 0 20px 0;
      overflow: hidden;
    }

    li.like_post {
      width: 150px;
      font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
      font-size: 10px;list-style-type: none;
      margin: 0;
      padding: 0 56px 0 0;
      float: left;
    }

      li.like_post:last-child {
        padding: 0;
        float: right;
      }

      li.like_post img {
        max-width: 146px;
        border: 1px solid #8E8E8E;
        padding: 1px;
      }

      li.like_post blockquote {
        margin: 0;
        padding: 0 0 0 10px;
        border-left: 1px solid #eee;
      }

      li.like_post .like_link a {
        font-size: 12px;
        color: #0F6F9F;
      }

        li.like_post .like_link a:hover {
          color: #D00000;
        }

      li.like_post .like_title {
        font-size: 12px;
      }

      li.like_post a {
        color: #202020;
      }

      li.like_post ol,
      li.like_post ul {
        margin: 0 0 0 15px;
        padding: 0;
      }

      li.like_post .post_info_bottom {
        margin: 10px 0 0 0;
        display: block !important;
      }

        li.like_post .post_info_bottom a {
          color: #0F6F9F;
          text-decoration: none;
        }

          li.like_post .post_info_bottom a:hover {
            color: #D00000;
          }

    a.arrow.back,
    a.arrow.forward {
      display: none !important;
    }

    a.install {
        width: 96px;
        height: 20px;
        background: url(http://static.tumblr.com/thpaaos/dHHkt0jor/install_theme.png);
        display: block;
        position: absolute;
        top: 26px;
        right: 3px;
    }
