<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>Not Untitled</title>
    <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18214903-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </head>
  <body>
    <div id="page">
      <div class="content">
        <div id="header">
          <div id="top">
            <a href="/" class="title">Not Untitled</a>
          </div>
          <div id="bottom">
            <div id="desc">
              My name is Matt Mills. These are my photos.
            </div>
            <div class="buttons">
              <a href="mailto:sunrisetimes@gmail.com" class="button">email me </a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://notuntitled.com/rss" class="button">RSS</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://instagram.com/photomattmills">Instagram</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://notunitled.com/portfolio">Portfolio</a>
            </div>
          </div>
        </div> 
        <div id="main">
          <div id="content-wrapper">
            {{ content }}
          </div>
        </div>
        <br>
        <div id="footer" class="footer">
          <p>Copyright &copy; 2008-2013, Matt Mills. All rights reserved.<br /></p>
        </div>
      </div>
    </div>
  </body>
</html>
