<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "https://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>matt.pictures</title>
    <meta charset="utf-8">
    <meta property="og:image" content="{{ page.ogimage }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@photomattmills">
    <meta name="twitter:creator" content="@photomattmills">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
    <meta name="twitter:image" content="{{ page.ogimage }}">


    <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/blog.css" />
  </head>
  <body>
    <div id="page">
      <div class="content">
        <div id="header">
          <div id="top">
            <a href="/" class="title">matt.pictures</a>
          </div>
          <div id="bottom">
            <div class="buttons">

              <a href="https://patreon.com/user?u=738372">Patreon</a>
              <a href="http://matt.pictures/rss">RSS</a>
              <a href="http://instagram.com/photomattmills">Instagram</a>

              <a href="http://matt.pictures/portfolio">Portfolio</a>
              <a href="mailto:sunrisetimes@gmail.com">email me </a>
            </div>
          </div>
        </div>
        <div id="main">
          <div id="content-wrapper">
            {{ content }}
          </div>
        </div>
        <br>
        <div id="footer" class="footer">
          <p>Copyright &copy; 2008-2016, Matt Mills. All rights reserved.<br /></p>
        </div>
      </div>
    </div>
  </body>
</html>
