<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "https://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>matt.pictures</title>
    <meta charset="utf-8">
    <meta property="og:image" content="{{ page.ogimage }}" />
    <meta name="google-site-verification" content="dn-WEbTLy0TZzIcsjAoD6Sin0VE5fmSSCLBIyBr7QFA" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@photomattmills">
    <meta name="twitter:creator" content="@photomattmills">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description | strip_html | xml_escape | truncate: 200 }}">
    <meta name="twitter:image" content="{{ page.ogimage }}">


    <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/blog.css" />

    <script>
      slideshow = {
        base_url: "https://photomattmills.com/images/",

        register: function (key){
          if (!this[key]) {
            img = document.getElementById(key)
            data = JSON.parse(img.getAttribute('gallery-data'))
            console.log("hello hello")
            this[key] = {"index": 0, "images": data.images}
          }
        },

        next: function(key){
          index = this[key]["index"] += 1
          images = this[key]["images"]

          if(slideshow[key]["index"]> images.length-1){
            index = slideshow[key]["index"] = 0
          }

          // var image=images[index]
          // var nextimg=images[index+1]
          this.switch(key,
            this.image_src(key,images[index]),
            this.image_src(key,images[index+1])
          )
          // document.getElementById(key).src=this.base_url+key+"/"+image
          // document.getElementById("next-"+key).src = this.baseurl + nextimg
        },

        previous: function (key){
          index = this[key]["index"]-=1
          images = this[key]["images"]

          if(index<0){
            index = slideshow[key]["index"] = images.length-1
          }

          this.switch(key,
            this.image_src(key,images[index]),
            this.image_src(key,images[index-1])
          )
        },

        switch: function(key, current, next) {
          document.getElementById(key).src = current
          document.getElementById(key+"-next").src  = next
        },

        image_src: function(key, filename) {
          return this.base_url+key+"/"+filename
        }
      }
    </script>
  </head>
  <body>
    <div id="page">
      <div class="content">
        <div id="header">
          <div id="top">
            <a href="/" class="title">matt.pictures</a>
          </div>
          <div id="bottom">
            <div class="buttons">

              <a href="https://patreon.com/user?u=738372">Patreon</a>
              <a href="http://matt.pictures/rss">RSS</a>
              <a href="http://instagram.com/photomattmills">Instagram</a>

              <a href="http://matt.pictures/portfolio">Portfolio</a>
              <a href="mailto:sunrisetimes@gmail.com">email me </a>
            </div>
          </div>
        </div>
        <div id="main">
          <div id="content-wrapper">
            {{ content }}
          </div>
        </div>
        <br>
        <div id="footer" class="footer">
          <p>Copyright &copy; 2008-2017, Matt Mills.<br /></p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </div>
      </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->

  </body>
</html>
